* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  transition: 0.3s;
  font-family: "DisCharge";
  color: #ffffff;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
body {
  background-color: black;
}
@font-face {
  font-family: "DisCharge";
  src: url(../fonts/DischargePro.ttf) format("truetype");
}
header {
  height: 180px;
  width: 100%;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header_buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header_buttons a img:hover {
  transform: scale(1.05);
}

.nav_menu {
  display: flex;
  gap: 80px;
  align-items: center;
}

.nav_menu a {
  font-size: 36px;
  color: white;
}

.nav_menu a:hover {
  color: #9b3340;
}
.header_nav input {
  display: none;
}
/* header */

/* banner */
.slider_container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  display: block;
}

.slide_content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}

.slide_title {
  font-size: 72px;
}

.center_button {
  background-color: #9b3340;
  color: white;
  border: none;
  width: 300px;
  height: 70px;
  font-size: 64px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.center_button:hover {
  background-color: #ffffff;
  color: #9b3340;
}

.slider_nav {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.nav_button {
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  background: black;
}

.nav_button p {
  font-size: 64px;
  color: #ffffff;
}
/* banner */

/* about */

.about {
  height: 700px;
  width: 100%;
  margin-top: 50px;
}
.about_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_title {
  font-size: 54px;
  text-align: center;
  color: white;
}
.main_text {
  font-size: 32px;
  color: white;
  width: 800px;
  margin-top: 30px;
}
.about_img {
  display: flex;
  margin-top: 50px;
}
/* about */
/* levels */
.levels {
  margin-top: 100px;
}
.level_title {
  font-size: 54px;
  text-align: center;
  color: white;
  width: 1100px;
  margin: 0 auto;
}
.all_levels {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.levels_title {
  font-size: 48px;
  text-align: start;
}
.level_things {
  margin-top: 40px;
}
.level_things p {
  font-size: 32px;
  width: 600px;
}
.left_level {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right_level {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.level_things_right {
  margin-top: 40px;
}
.level_things_right p {
  font-size: 32px;
  width: 600px;
  text-align: end;
}
.levels_title_right {
  font-size: 48px;
  text-align: end;
}
/* levels */

/* sticker */
.stickers {
  margin-top: 100px;
}

.stickers_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 100px;
}
.sticker_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.sticker_title {
  font-size: 48px;
  color: #9b3340;
}
.sticker_desk {
  font-size: 32px;
  width: 430px;
  text-align: center;
}
.buy {
  width: 250px;
  height: 70px;
  color: white;
  background-color: #9b3340;
  border: none;
  font-size: 48px;
}
.buy:hover {
  background-color: white;
  color: #9b3340;
  cursor: pointer;
  border: 1px solid #9b3340;
}
.sticker_img img {
  width: 255px;
  height: 255px;
}
/* sticker */

/* faq */

.accordion {
  width: 1400px;
  max-width: 100%;
  margin-top: 150px;
}
.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 7px;
  margin-top: 20px;
}
.accordion-header {
  padding: 15px;
  background: #000000;
  cursor: pointer;
  font-size: 40px;
  position: relative;
}
.accordion-header::after {
  content: "->";
  position: absolute;
  right: 15px;
  font-size: 42px;
  transform: rotate(90deg);
}
.accordion-header.active::after {
  content: "->";
  transform: rotate(270deg);
}
.accordion-content {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-out, padding 0.3s ease-out;
  border-top: 1px solid white;
}
.accordion-content p {
  font-size: 32px;
}
.accordion-content.active {
  padding: 15px;
  max-height: 1000px;
  transition: 0.3s ease-in, padding 0.3s ease-in;
}
/* faq */

/* footer */
footer {
  margin-top: 100px;
}
.footer_inner {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.footer_left {
  font-size: 40px;
}
.footer_right{
  display: flex;
  flex-direction: column;
  text-align: right;
}
.footer_right a {
  font-size: 40px;
}
.footer_drop_line {
  border-top: 1px solid white;
  text-align: center;
  margin-top: 25px;
}
.footer_drop_line p{
    font-size: 32px;
}
/* footer */
@media screen and (max-width: 320px) {
  /* burger */
  .header_nav input {
    display: none;
  }

  [for="burger"] {
    position: fixed;
    top: 60px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1111;
  }

  span {
    display: block;
    width: 100%;
    height: 3px;
    background: #ff415e;
    position: relative;
    z-index: 1000;
  }

  span::before,
  span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ff415e;
  }

  span::before {
    top: -8px;
  }

  span::after {
    top: 8px;
  }

  .nav_menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #222222;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    gap: 0px;
  }

  .nav_menu a {
    display: block;
    color: #ff415e;
    padding: 10px;
    border-bottom: 1px solid #ff415e;
    width: 100%;
  }
  .header_buttons {
    padding-left: 0px;
  }
  .nav_menu a img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
  }

  .nav_menu a::after {
    display: block;
  }

  .nav_menu a:hover {
    background: #e2e2e2;
  }

  #burger:checked ~ .nav_menu {
    left: 0;
  }

  #burger:checked ~ label span {
    background: transparent;
  }

  #burger:checked ~ label span::before {
    transform: rotate(45deg);
    top: 0;
    display: block;
  }

  #burger:checked ~ label span::after {
    transform: rotate(-45deg);
    top: 0;
    display: block;
  }
  /* burger */
}
